<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FortunaEntities" connectionString="metadata=res://*/FortunaEntities.csdl|res://*/FortunaEntities.ssdl|res://*/FortunaEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.2.10;user id=FortunaUser;password=Fortll2603;persist security info=True;database=Fortuna&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>