<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Fortuna" connectionString="metadata=res://*/Fortuna.csdl|res://*/Fortuna.ssdl|res://*/Fortuna.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.2.10;user id=FortunaUser;password=Fortll2603;database=Fortuna;persist security info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="FortunaEntities" connectionString="metadata=res://*/FortunaEntities.csdl|res://*/FortunaEntities.ssdl|res://*/FortunaEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.2.10;user id=FortunaUser;password=Fortll2603;persist security info=True;database=Fortuna&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>